# Зависимости bAWH.
# Для продакшена имеет смысл зафиксировать точные версии (pip freeze).

# Веб
Flask>=3.0
Flask-Login>=0.6
Flask-SQLAlchemy>=3.1
Flask-WTF>=1.2

# База
SQLAlchemy>=2.0
psycopg2-binary>=2.9

# Конфиг
python-dotenv>=1.0

# LDAP
ldap3>=2.9

# Планировщик опроса
APScheduler>=3.10

# Шифрование паролей (Fernet)
cryptography>=42.0

# Удалённый запуск на Windows
pypsexec>=0.3

# WMI с Linux
impacket>=0.11

# Прод-сервер
gunicorn>=22.0
